<div class="container-fluid">
    <table>
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>QUANTITY REMAINING IN STOCK</th>
            <th> + </th>
        </thead>
        <tbody>
            

        </tbody>
    </table>
</div>

<div class="container-fluid">
    <table>
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>P * Q</th>
            <th> - </th>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>